html {
  box-sizing: border-box;
}

/* used for clearfix for colums, cheater way to break instead of using flex */
*,
*:before,
*:after {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 500;
}

h1 {
  font-weight: 600;
  font-size: 400% ;
}

h2 {
  font-weight: 500;
  font-size: 150% ;
}

h3 {
  display: inline;
  font-weight: 600;
  color: lightgrey ;
}

h3:hover {
  color: lightgrey ;

}

h4 {
  font-size: 100%;
  color: lightgrey ;
}

ul {
  list-style: none;
}

ul p {
  font-weight: 500;
  font-size: 90% ;
}

p {
  font-weight: 600 ;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bold;
}

.text-center {
  padding-top: 30% ;
  text-align: center;
  color: black ;
}

/* hides text so you have to click for benefits of car per each section */
.hidden {
  display: none;
}

.showing-head {
  color: white;
  border-bottom: 50% solid white;
}

#graphic {
  width: 100% ;
}

#fp-nav ul li a span {
  background-color:white;
}

#spacing {
  margin-right: 0px ;
  width: 40% ;
}

#closing {
  margin-left: 0px ;
  width: 50% ;
  height: 600px ;
}

/*Setting the background images by sections id tag*/
#section1 {
  background-image: url('../img/greenEnergy.jpg');
}

#section11 {
  background-image: url('../img/cars.jpg');
}

#section10 {
  /* background-color: grey ; */
  /* background-image: url('../img/EVinfo.jpg') */
}

/* setting background images by class tag */
.modelS {
  /* background-image: url('../img/ModelS.jpg'); */
  background-image: url('../img/modelS.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.modelX {
  background-image: url('../img/ModelX.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.model3 {
  background-image: url('../img/model3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.roadster {
  background-image: url('../img/roadster.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.leaf {
  background-image: url('../img/leaf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.I3 {
  background-image: url('../img/I3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.spark {
  background-image: url('../img/spark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.zoe {
  background-image: url('../img/zoe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.close {
  background-color: grey ;
}

.grid-style {
  width: 100%;
  max-width: inherit;
}

/* creates the space for text in sections */
.colum-6 {
  width: 100%;
}

.colum-3 {
  width: 40%;

}
.colum-3:nth-child(2n) {
  width: 40%;
  float: right ;

}

/* elements of text boxes for styling and sets opacity to 70% */
.formside {
  background-color: rgba(0,0,0,.7);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 3em ;
  margin-left: 2em ;
}

/* alternatates between sides of page in effect with .formside */
.formside:nth-child(2n){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 3em;
  margin-left: 1em ;
}

/* needs margins all around text for better readability */
.content {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em ;
  height: 520px;
}

/* setting size for min content format  */
.modelX .content,
.model3 .content {
min-height: 520px;
}

/* media queries to change website to be responsive for different
sceeen sizes and devices */
@media screen and (max-width:800px){
  body {
    flex-direction: column;
  }

  .modelS.content {
    color: lightgrey;
  }
}

/* makes text more readable on smaller screen sizes */
@media screen and (max-width:950px) {
  .colum-3:nth-child(2n){
    width: 100% ;
    padding-right: .1em ;
  }
  .colum-3{
    width: 100% ;
  }
  .formside{
    margin-right: 0em ;
    margin-left: 0em;
  }
}
